{% extends "layout.html" %}
{% block content %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

<main>
<div class="container">
  <div class="row">
    <div class="col-12 border rounded-3">
      <h1>Анализатор страниц {{ validate }}</h1>
      <p>Бесплатно проверяйте сайты на SEO-пригодность</p>
      <form action="{{ url_for('url_post') }}" method="POST">
        <label for="text" class="visually-hidden">URL для проверки</label>
        <input type="url" name="url" value="{{ input_data.url }}" placeholder="https://www.example.com" required>
        <input type="submit" value="Проверить">
      </form>
    </div>
  </div>
</div>
</main>
{% endblock %}