{% extends "layout.html" %}
{% block content %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

<main>
<div>
    <h1>Сайт: {{ url.name }}</h1>
    <div>
        <table data-test="url">
            <tr>
                <td>ID</td>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at }}</td>
            </tr>
        </table>
    </div>
    <h2>Проверки</h2>
    <form method="post"  action="/urls/{{ url.id }}/checks">
        <input type="submit" class="btn btn-primary" value="Запустить проверку">
    </form>
    <div>
        <table data-test="checks">
            <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            {% for check in check_results %}
            <tr>
                <td>{{ check.id }}</td>
                <td>{{ check.status_code }}</td>
                <td>h1</td>
                <td>заголовок сайта</td>
                <td>описание</td>
                <td>{{ check.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</main>
{% endblock %}